<!DOCTYPE html>
{% load static %}
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title></title>
      <link rel="stylesheet" href="{% static "/css/bootstrap.css" %}">
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
   </head>
   <body style="background-color: #576654;">
       <script src="{% static "js/popper.js" %}"></script>
       <script src="{% static "js/jquery-3.3.1.js" %}"></script>
       <script src="{% static "js/bootstrap.js" %}"></script>
       <!--Navigation Bar-->
       <nav class="navbar text-center" style="background-color: #00000099; padding: 1%;">
         <div class="container">
           <h2 style="color: #ffffff;">Welcome To Stationery, LNMIIT</h2>
         </div>
       </nav>
       <!-- Navigation Bar Ends -->
       <!-- Main Body -->
       {% block body_block %}
       {% endblock %}<br><br>
       <!-- Main Body Ends -->

       <!-- Footer -->
       <footer class="footer" style="background-color: #00000099; padding: 4%;">
         <div class="container" style="color: #ffffff;">
           <div class="row">
             <div class="col-sm-6">
               <p>The LNM Institute of Information Technology<br>
               Rupa ki Nangal, Post-Sumel, Via-Jamdoli<br>
               Jaipur, Rajasthan 302031</p>
             </div>
             <div class="col-sm-6" style="float:right;">
               <div class="text-center">
                   <a class="btn btn-social-icon btn-google" href="http://google.com/+">Google+</a>
                   <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id=">Facebook</a>
                   <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/">LinkedIn</a>
                   <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/">Twitter</a>
                   <a class="btn btn-social-icon btn-google" href="http://youtube.com/">Youtube</a>
                   <a class="btn btn-social-icon" href="mailto:">Mail</a>
               </div>
             </div>
           </div>
           <div class="row text-center">
             <p>&copy Copyright 2019 | Designed by <i>Shubhi Rustagi</i></p>
             <a href="https://github.com/rustagishubhi">Github</a>
           </div>
         </div>
       </footer>
       <!-- Footer Ends -->
   </body>
</html>
