<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="manifest" href="{% static "/js/manifest.json" %}">
        {% progressive_web_app_meta %}
        {% block title_block %}
            <title>Sign In</title>
        {% endblock %}
        <link rel="icon" href="{% static '/images/favicon.png' %}">
        <link rel="stylesheet" href="{% static "/css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "/css/master.css" %}">
        <link rel="stylesheet" href="{% static "/css/fontawesome.css" %}">
    </head>
    <body>
        <script src="{% static "/js/popper.js" %}"></script>
        <script src="{% static "/js/jquery-3.3.1.js" %}"></script>
        <script src="{% static "/js/bootstrap.js" %}"></script>
        <h1>ABCD</h1>
    </body>
</html>
